.footer--body {
    
    background: #525252;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;

    @media (max-width: 460px) {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: space-around;
    }

    @media (max-width: 920px) {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }
    




.social--title {
    color: #ffff;
    font-size:48px;
    width: 296px;
    height: 56px;
}

    .social--img {
    width: 296px;
    height: 56px;
    display: grid;
    grid-template-columns: repeat(
      3,
      1fr
    );
    margin-left: 15px !important;
 }

.newletter--footer {
    @media (max-width: 460px) {
        width:90%;
    }

    @media (max-width: 920px) {
        width:80%;
    }
    
} 

.newletter--title {
    color: #ffff;
    font-size:48px;
    width: 296px;
    height: 56px;
}

.newletter--btn {
    background: #E32C2C;
    color: #ffff;
    margin-left: 21px !important;
}

}