<div class="footer--body">
    <div class="footer--social">
        <p class="social--title">Redes Sociais</p>
        <div class="social--img">
            <img class="social--box" src="../../assets/img/Group.svg" alt="" >
            <img class="social--box" src="../../assets/img/Group (1).svg" alt="" >
            <img class="social--box" src="../../assets/img/Group (2).svg" alt="" >
        </div>
    </div>

    <div class="newletter--footer">
        <p class="newletter--title">NewLetter</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control"  >
            <button class="btn newletter--btn" type="button" >Button</button>
          </div>


    </div>
</div>