
<ng-template [ngIf]="controle">
  <div class="modal-header" >
    <h4  class="modal-title"  *ngFor="let item of userLog" >{{item.nome}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>

<ng-template [ngIf]="!controle">
  <div class="modal-header" >
    <h4  class="modal-title"> Olá visitante, faça Login ou cadastre-se </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>


 
  <div class="modal-body">
<div *ngFor="let item of produtosVindoDaPagina">
    <p> Boa Pedida! Você escolheu: </p>
    <p> {{item.produto}}</p>
</div>  

<div>
{{produtosVindoDaPagina.length}} itens no seu carrinho, deseja incluir mais algum pedido ?

<button type="button" (click)="continuarComprando()">Sim, quero</button>
<button type="button" (click)="irParaCarrinho()" (click)="activeModal.close('Close click')" >Não, Me leve para o carrinho!</button>

</div>

</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>