<div class="card">

    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
   
    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card">

    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
   
    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">

    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
   
    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card--list">
        <div class="card--img">
            <img src="../../assets/img/burguerproduct.png" alt="" class="card--img">
        </div>
        <div class="card--body">
            <b class="card--title">La Vosier </b>
            <h4 class="card--product">Super Hamburguer</h4>
            <div class="card--description">
                <p>Delicia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="card--cart">
                <div class="cart--price">
                    <p class="price--info">Preço: </p>
                    <p class="price--info">R$20,00</p>
                </div>
                <div class="cart--purchase">
                    <button class="cart--btn">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

</div>
