<div class="promotion--section">
    <div class="promotion--title">
        <p>Promoção do momento</p>
    </div>
    <div class="promotion--subtitle">
        <p>40% Off</p>
    </div>
    
    <div class="promotion--card">
        <div class="promotion--body">
            <div class="">
                <img src="../../assets/img/motorcycle 1.png" alt="" class="promotion--img">
            </div>
            <div class="promotion--description">
                <b>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando </b>
            </div>
        </div>

        <div class="promotion--body">
            <div class="">
                <img src="../../assets/img/cashback 1.png" alt="" class="promotion--img">
            </div>
            <div class="promotion--description">
                <b>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando </b>
            </div>
        </div>

        <div class="promotion--body">
            <div class="">
                <img src="../../assets/img/review 1.png" alt="" class="promotion--img">
            </div>
            <div class="promotion--description">
                <b>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando </b>
            </div>
        </div>

        <div class="promotion--body">
            <div class="">
                <img src="../../assets/img/chef-hat 1.png" alt="" class="promotion--img">
            </div>
            <div class="promotion--description">
                <b>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando </b>
            </div>
        </div>
    </div>
</div>