.cards {
    display: grid;
    grid-template-columns: repeat(
      3,
      1fr
    ); /*adapta e divide proporcionalmente as colunas e os quadrados */
    column-gap: 1.6rem; /* espaço entre as imagens ou os quadrados */
    margin: 16px, 40px;
    padding-left:80px;
    padding-right: 80px;
    width: 100%;
    margin-top: 80px;
    border: none;
    margin-bottom: 80px;
    
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(
          2,
          1fr
        ); /*adapta e divide proporcionalmente as colunas e os quadrados */
        column-gap: 1.6rem; /* espaço entre as imagens ou os quadrados */
        margin: 16px, 40px;
        padding-left:80px;
        padding-right: 80px;
        width: 100%;
        margin-top: 80px;
        border: none;
        margin-bottom: 80px;
      }
      @media (max-width: 560px) {
        display: grid;
        grid-template-columns: repeat(
          1,
          1fr
        ); /*adapta e divide proporcionalmente as colunas e os quadrados */
        column-gap: 1.6rem; /* espaço entre as imagens ou os quadrados */
        margin: 16px, 40px;
        padding-left:80px;
        padding-right: 80px;
        margin-top: 80px;
        border: none;
        margin-bottom: 80px;
        

      }


    .card {
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.212);
        margin-bottom: 50px;
        height: 95%;
        
    }

    .card--img {
        width: 100%;
        height: 214px;
        background-repeat: no-repeat;

    }

    .card--box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @media (max-width: 1200px) {
            body { font-size: 1.2em; }
          }
          @media (max-width: 768px) {
            body { font-size: 1.1; }
          }
          @media (max-width: 468px) {
            body { font-size: 1em; }
          }


    }
    
    .card--title {
        margin-top: 16px;
        margin-left: 8px;
        font-size: 16px;
    }


    .card--type {
        margin-top: 16px;
        margin-right: 8px;
        font-size: 16px;
    }

    .card--product {
        font-size: 24px;
        margin-left: 8px;
        margin-top: 16px;

        @media (max-width: 1200px) {
            body { font-size: 1.2em; }
          }
          @media (max-width: 768px) {
            body { font-size: 1.1; }
          }
          @media (max-width: 468px) {
            body { font-size: 1em; }
          }



    }
    .card--description {
        
        margin-left: 8px;
        margin-right: 7px;
        margin-top: 16px;
        
    
    @media (max-width: 1200px) {
      body { font-size: 1.2em; }
    }
    @media (max-width: 768px) {
      body { font-size: 1.1; }
    }
    @media (max-width: 468px) {
      body { font-size: 1em; }
    }

    }


    }
    .card--cart {
        
        height: 64px;
        margin-left: 8px;
        margin-right: 7px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        

        @media (max-width: 920px) {
           
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            flex-direction: column;

        }

        @media (max-width: 560px) {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            flex-direction: column;
        }

    }
    .cart--price {
        width: 50%;
        display: flex;
        align-items: center;
        justify-items: center;
        margin: inherit;

        @media (max-width: 920px) {
            width: 100%;
            margin: inherit;
        }

        @media (max-width: 560px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-items: center;
        }
    }

    .cart--purchase {
        @media (max-width: 1200px) {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;

    }
          @media (max-width: 768px) {
            width: 50%;
            display: flex;
            flex-direction: column;
            
          }
          @media (max-width: 560px) {
            width: 100%;
            display: flex;
            align-items: center;            
          }


    }
    .cart--btn {
        width: 92px;
        height: 30px;
        background: #E32C2C;
        color: #ffff;
        font-size: 12px;
        outline: none;
        border: none;

        @media (max-width: 768px) {
            width: 100%;
            
          }
        

        @media (max-width: 560px) {

            width: 80%;
        }
    }
  

    .price--info {
    
    font-size: 16px;
 }




 .modal--box{

    background: #E32C2C;
    color: #ffff;
    
    }
    .modal--product{
        display:flex;
        flex-direction: row;
        color: #E32C2C;
        font-size:18px;
    }
    
    .modal--msg{
        display:flex;
        justify-content: center;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }
    
    .modal--itens{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        text-align: center;
    
        .itens--total{
            color: #E32C2C;
            font-size: 20px;
            margin-right: 10px;
            font-weight: bold;
        }
    
        .itens--info{
            
            font-size: 15px;
            font-weight: bold;
        }
    }
    
    .modal--box--btn{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    
        .modal--btn{
        height: 40px;
        outline: none;
        border: none;
        background: #0a0a0a9a;
        border-radius: 10px;
        color: #ffff;
        
        &:hover {
            
            border-radius: 10px;
            background: #E32C2C;
            color: #ffff;
        }
    }
    }