<app-menu></app-menu>

<section class="cart">
    <h2 class="cart--title">Finalizar seu pedido</h2>

    <div class="cart--box" *ngFor="let item of produtosVindoDaPagina">
        
        <div class="box--img">
            <img class="img--produtc" [src]="item.url" alt="">
        </div>
        
        <div class="box--info">
        <p class="info--title"> {{item.produto}} </p>
        <p class="info--product">{{item.grif}}</p>
        <p class="info--price" id="price" >{{item.preco | currency:'R$ ' }}</p>
        </div>

        <div class="box--amount">
            <button class="amount--btn--decrement" (clik)="emitirValor(item.quantidade)"  (click)="decrement(item)"> - </button>
            <input class="amount--input"  [(ngModel)]="item.quantidade" readonly>
            <button class="amount--btn--increment" (clik)="emitirValor(item.quantidade)" (click)="increment(item)"> <p> + </p> </button>
            <div class="amount--value"> <p class="value--text">{{item.valorTotal | currency:'R$ '}}</p> </div>
        </div>
    </div>

    <div class="wrapper--box" >
       <div class="wrapper--resume"> 
        <div class="box--resume">
            <p>Nº de itens</p>
            <p class="resume--price">{{itemQuantidade}}</p>
        </div>
        <div class="box--resume" >
           <p>Total:</p> <p class="resume--value">{{valorTotal | currency:'R$ '}} </p>
        </div>
        <button class="resume--trade" (click)="finishCar()" >Finalizar Agora</button>
       </div>
    </div>

</section>

<app-footer></app-footer>
