<app-menu></app-menu>

<section class="cart">
    <h2 class="cart--title">Finalizar seu pedido</h2>

    <div class="cart--box">
        
        <div class="box--img">
        <!-- img  -->
        </div>
        
        <div class="box--info">
        <p class="info--title"> Agua levemente adocicada </p>
        <p class="info--product">Via Expresso</p>
        <p class="info--price">R$: 8,00</p>
        </div>

        <div class="box--amount">
            <button class="amount--btn--decrement "> - </button>
            <input class="amount--input">
            <button class="amount--btn--increment"> <p >+</p> </button>
            <div class="amount--value"> <p class="value--text">R$ 16,00</p> </div>

        </div>


    </div>
</section>

<app-footer></app-footer>
